<div class="main-component">
    <section class="left-sidebar">
        <div class="addTestbedButton1">
            <button mat-button color="primary"
                *ngFor="let testbed of ['TestBed 1','TestBed 2', 'TestBed 3', 'TestBed 4', 'TestBed 5', 'TestBed 6', 'TestBed 7', 'TestBed 8', 'TestBed 9', 'TestBed 10']"
                (click)="toggleTestBed(testbed)" [ngClass]="{ 'active-testbutton':selectedTestBed === testbed}">{{
                testbed }}</button>
        </div>
    </section>

    <section class="main-vehicles-tiles-view">

        <div *ngIf="selectedTestBed==='utilization'" style="margin-left: 100px;">
            <div class="topfield">
                <mat-form-field>
                    <mat-label>Select a Year</mat-label>
                    <mat-select [formControl]="selectedYear">
                        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button (click)="updateChart()" mat-stroked-button color="primary">
                    VIEW ALL TESTBED UTILIZATION
                </button>
            </div>
            <div class="page-container">
                <div class="TabButtons">
                    <button class="TabButton" mat-button color="primary" (click)="toggleChart('Chart-1')"
                        [ngClass]="{ 'active-button': currentChart === 'Chart-1' }"> TestBed 1-5</button>
                    <button class="TabButton" mat-button color="primary" (click)="toggleChart('Chart-2')"
                        [ngClass]="{ 'active-button': currentChart === 'Chart-2' }"> TestBed 6-10</button>
                </div>
                <div id="testbed-Util"></div>
            </div>
        </div>

        <!-- Testbed charts -->

        <div
            *ngIf="selectedTestBed === 'TestBed 1' || selectedTestBed === 'TestBed 2' || selectedTestBed === 'TestBed 3'
        || selectedTestBed === 'TestBed 4' || selectedTestBed === 'TestBed 5' || selectedTestBed === 'TestBed 6' ||
        selectedTestBed === 'TestBed 7' || selectedTestBed === 'TestBed 8' || selectedTestBed === 'TestBed 9' || selectedTestBed === 'TestBed 10'">

            <div class="topfield">
                <mat-form-field>
                    <mat-label>Select a Year</mat-label>
                    <mat-select [formControl]="selectedYear">
                        <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="updateTestbed()">
                    VIEW UTILIZATION
                </button>
                <button mat-raised-button color="primary" (click)="toggleTestBed('filldata')"
                    style="margin-left: 10px;">Fill Data</button>
            </div>
            <compare [selectedTestBed]="selectedTestBed"></compare>
        </div>


        <!-- TestBed utilization table -->
        <!-- <div *ngIf="selectedTestBed==='filldata'">
            <filldata></filldata>
        </div> -->
        <filldata *ngIf="showfilldata"></filldata>

    </section>
</div>

<common-context-menu #contextMenuID></common-context-menu>