

.chart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.chart {
    border: 1px solid #D6DBE3;
    padding: 10px;
  }

