

.chart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
}

.chart {
    border: 1px solid #D6DBE3;
    padding: 10px;
    height: 50vh;
  }

  mat-form-field{
    margin-left: 5%;
}
